In [141]:
import pandas as pd
import numpy as np

In [142]:
studdata=pd.read_excel('student_data_excel.xlsx')

In [143]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,social_marks,computerscience_marks,statistics_marks
0,1,Devonne,Elstow,94.27,237.19,23.43,NaN,26.02,NaN
1,2,Devy,Rickwood,25.76,263.38,-619.85,38.74,217.93,NaN
2,3,Pennie,Wayne,99.48,258.87,-93.32,NaN,68.71,NaN
3,4,Shurlock,Pitt,4.28,287.94,7.38,183.32,317.24,NaN
4,5,Koo,Gibben,7.22,183.33,68.17,129.60,154.35,NaN
5,6,Rebecca,Gamlyn,5.22,179.31,70.17,NaN,138.69,NaN
6,7,Darda,Putley,89.62,208.78,NaN,126.51,339.49,NaN
7,8,Alisha,Shotboult,76.16,NaN,79.09,NaN,278.72,NaN
8,9,Clywd,Assur,62.68,138.52,NaN,92.60,238.49,NaN
9,10,Gibby,Falck,17.57,253.70,74.71,149.54,159.14,NaN
10,11,Winonah,Heathwood,74.68,78.23,28.47,NaN,67.36,NaN
11,12,Harley,Kerner,59.69,88.83,51.85,NaN,128.94,NaN
12,13,Georgie,Hamley,29.03,224.13,NaN,130.39,352.88,NaN
13,14,Teodoro,Skydall,28.27,213.32,86.97,NaN,201.85,NaN
14,15,Raul,Benech,81.04,NaN,92.05,NaN,387.37,NaN
15,16,Jade,Bunning,15.36,NaN,-96.04,NaN,305.30,NaN
16,17,Maddy,Graver,50.70,117.98,4.37,147.98,67.26,NaN
17,18,Minta,Greeno,26.84,15.84,49.40,NaN,108.83,NaN
18,19,Laney,Loding,3.62,56.87,-99.27,36.07,145.40,NaN
19,20,Aymer,Twelvetree,94.78,299.69,67.00,NaN,148.65,NaN
20,21,Anna-diana,Lobb,10.05,118.78,45.42,193.26,210.02,NaN
21,22,Marcelia,Fozzard,18.23,276.23,82.35,NaN,266.33,NaN
22,23,Brendon,Beebee,64.87,205.55,NaN,183.96,121.16,NaN
23,24,Neville,Pusey,73.69,131.75,99.68,NaN,16.63,NaN
24,25,Elle,Fassan,45.31,120.11,1.52,NaN,205.95,NaN
25,26,Tucky,Beverley,31.61,252.03,2.74,34.97,180.14,NaN
26,27,Lorena,Kleinfeld,3.41,NaN,76.47,133.70,82.53,NaN
27,28,Hetty,Dewhirst,9.38,21.97,-37.32,NaN,222.94,NaN
28,29,Melinda,Titterell,78.31,NaN,33.94,NaN,156.09,NaN
29,30,Page,Conduit,14.59,NaN,NaN,NaN,126.95,NaN
30,31,Robbie,Douthwaite,25.59,79.63,40.25,108.50,318.92,NaN
31,32,Betti,Liddle,7.32,NaN,-48.36,186.23,170.94,NaN
32,33,Kimbell,Lewis,33.82,NaN,26.72,NaN,346.68,NaN
33,34,Howard,Kornyshev,NaN,146.99,-21.59,59.87,291.66,NaN
34,35,Willard,Huckin,25.70,NaN,97.45,44.60,100.68,NaN
35,36,Edgard,Lilford,36.59,116.95,NaN,NaN,318.05,NaN
36,37,Even,Leipoldt,74.37,NaN,40.48,156.05,261.86,NaN
37,38,Jany,Ogers,85.88,231.49,5.53,NaN,353.00,NaN
38,39,Junie,Luckie,43.10,NaN,34.81,114.33,230.77,NaN
39,40,Geoffrey,Starking,79.79,NaN,6.90,180.47,51.03,NaN
40,41,Ervin,Snary,64.14,179.45,34.26,21.66,55.33,NaN
41,42,Edgardo,Blyth,67.86,48.58,-8.56,91.16,209.96,NaN
42,43,Tilda,Lotherington,50.96,129.03,62.27,172.59,190.75,NaN
43,44,Borden,Sambrook,7.62,NaN,-63.08,115.12,231.29,NaN
44,45,Vidovic,Juppe,85.04,NaN,84.56,199.50,344.78,NaN
45,46,Langsdon,Allcorn,44.62,296.20,74.41,NaN,333.16,NaN
46,47,Hansiain,Urquhart,91.25,166.76,-53.23,NaN,327.13,NaN
47,48,Carmita,Spadelli,2.96,77.91,19.28,NaN,155.64,NaN
48,49,Carmella,Cleverly,22.17,51.84,45.09,NaN,85.19,NaN
49,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87,NaN
50,12,Harley,Kerner,59.69,88.83,51.85,NaN,128.94,NaN
51,26,Tucky,Beverley,31.61,252.03,2.74,34.97,180.14,NaN
52,33,Kimbell,Lewis,33.82,NaN,26.72,NaN,346.68,NaN
53,44,Borden,Sambrook,7.62,NaN,-63.08,115.12,231.29,NaN
54,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87,NaN
55,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87,NaN
56,19,Laney,Loding,3.62,56.87,-99.27,36.07,145.40,NaN
57,15,Raul,Benech,81.04,NaN,92.05,NaN,387.37,NaN

In [144]:
studdata.shape

(58, 9)

In [145]:
studdata.describe()

,student_id,math_marks,science_marks,english_marks,social_marks,computerscience_marks,statistics_marks
count,58.000000,57.000000,41.000000,49.000000,28.000000,58.000000,0.0
mean,26.275862,45.912105,161.719756,9.950612,114.888571,213.251897,NaN
std,14.696691,31.437007,80.987577,107.348471,57.467542,106.557808,NaN
min,1.000000,2.960000,15.840000,-619.850000,21.660000,16.630000,NaN
25%,14.250000,17.570000,88.830000,1.520000,56.052500,131.377500,NaN
50%,26.000000,43.100000,158.540000,33.940000,120.815000,207.955000,NaN
75%,38.750000,76.160000,231.490000,68.170000,160.185000,317.847500,NaN
max,50.000000,99.480000,299.690000,99.680000,199.500000,387.370000,NaN

In [146]:
studdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   student_id             58 non-null     int64
 1   first_name             58 non-null     object
 2   last_name              58 non-null     object
 3   math_marks             57 non-null     float64
 4   science_marks          41 non-null     float64
 5   english_marks          49 non-null     float64
 6   social_marks           28 non-null     float64
 7   computerscience_marks  58 non-null     float64
 8   statistics_marks       0 non-null      float64
dtypes: float64(6), int64(1), object(2)
memory usage: 4.2+ KB

In [147]:
studdata.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50     True
51     True
52     True
53     True
54     True
55     True
56     True
57     True
dtype: bool

In [148]:
studdata.drop_duplicates()

,student_id,first_name,last_name,math_marks,science_marks,english_marks,social_marks,computerscience_marks,statistics_marks
0,1,Devonne,Elstow,94.27,237.19,23.43,NaN,26.02,NaN
1,2,Devy,Rickwood,25.76,263.38,-619.85,38.74,217.93,NaN
2,3,Pennie,Wayne,99.48,258.87,-93.32,NaN,68.71,NaN
3,4,Shurlock,Pitt,4.28,287.94,7.38,183.32,317.24,NaN
4,5,Koo,Gibben,7.22,183.33,68.17,129.60,154.35,NaN
5,6,Rebecca,Gamlyn,5.22,179.31,70.17,NaN,138.69,NaN
6,7,Darda,Putley,89.62,208.78,NaN,126.51,339.49,NaN
7,8,Alisha,Shotboult,76.16,NaN,79.09,NaN,278.72,NaN
8,9,Clywd,Assur,62.68,138.52,NaN,92.60,238.49,NaN
9,10,Gibby,Falck,17.57,253.70,74.71,149.54,159.14,NaN
10,11,Winonah,Heathwood,74.68,78.23,28.47,NaN,67.36,NaN
11,12,Harley,Kerner,59.69,88.83,51.85,NaN,128.94,NaN
12,13,Georgie,Hamley,29.03,224.13,NaN,130.39,352.88,NaN
13,14,Teodoro,Skydall,28.27,213.32,86.97,NaN,201.85,NaN
14,15,Raul,Benech,81.04,NaN,92.05,NaN,387.37,NaN
15,16,Jade,Bunning,15.36,NaN,-96.04,NaN,305.30,NaN
16,17,Maddy,Graver,50.70,117.98,4.37,147.98,67.26,NaN
17,18,Minta,Greeno,26.84,15.84,49.40,NaN,108.83,NaN
18,19,Laney,Loding,3.62,56.87,-99.27,36.07,145.40,NaN
19,20,Aymer,Twelvetree,94.78,299.69,67.00,NaN,148.65,NaN
20,21,Anna-diana,Lobb,10.05,118.78,45.42,193.26,210.02,NaN
21,22,Marcelia,Fozzard,18.23,276.23,82.35,NaN,266.33,NaN
22,23,Brendon,Beebee,64.87,205.55,NaN,183.96,121.16,NaN
23,24,Neville,Pusey,73.69,131.75,99.68,NaN,16.63,NaN
24,25,Elle,Fassan,45.31,120.11,1.52,NaN,205.95,NaN
25,26,Tucky,Beverley,31.61,252.03,2.74,34.97,180.14,NaN
26,27,Lorena,Kleinfeld,3.41,NaN,76.47,133.70,82.53,NaN
27,28,Hetty,Dewhirst,9.38,21.97,-37.32,NaN,222.94,NaN
28,29,Melinda,Titterell,78.31,NaN,33.94,NaN,156.09,NaN
29,30,Page,Conduit,14.59,NaN,NaN,NaN,126.95,NaN
30,31,Robbie,Douthwaite,25.59,79.63,40.25,108.50,318.92,NaN
31,32,Betti,Liddle,7.32,NaN,-48.36,186.23,170.94,NaN
32,33,Kimbell,Lewis,33.82,NaN,26.72,NaN,346.68,NaN
33,34,Howard,Kornyshev,NaN,146.99,-21.59,59.87,291.66,NaN
34,35,Willard,Huckin,25.70,NaN,97.45,44.60,100.68,NaN
35,36,Edgard,Lilford,36.59,116.95,NaN,NaN,318.05,NaN
36,37,Even,Leipoldt,74.37,NaN,40.48,156.05,261.86,NaN
37,38,Jany,Ogers,85.88,231.49,5.53,NaN,353.00,NaN
38,39,Junie,Luckie,43.10,NaN,34.81,114.33,230.77,NaN
39,40,Geoffrey,Starking,79.79,NaN,6.90,180.47,51.03,NaN
40,41,Ervin,Snary,64.14,179.45,34.26,21.66,55.33,NaN
41,42,Edgardo,Blyth,67.86,48.58,-8.56,91.16,209.96,NaN
42,43,Tilda,Lotherington,50.96,129.03,62.27,172.59,190.75,NaN
43,44,Borden,Sambrook,7.62,NaN,-63.08,115.12,231.29,NaN
44,45,Vidovic,Juppe,85.04,NaN,84.56,199.50,344.78,NaN
45,46,Langsdon,Allcorn,44.62,296.20,74.41,NaN,333.16,NaN
46,47,Hansiain,Urquhart,91.25,166.76,-53.23,NaN,327.13,NaN
47,48,Carmita,Spadelli,2.96,77.91,19.28,NaN,155.64,NaN
48,49,Carmella,Cleverly,22.17,51.84,45.09,NaN,85.19,NaN
49,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87,NaN

In [149]:
studdata=studdata.drop(['statistics_marks'],axis=1)

In [150]:
studdata=studdata.rename(columns={"social_marks": "statistics_marks"})

In [151]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.27,237.19,23.43,NaN,26.02
1,2,Devy,Rickwood,25.76,263.38,-619.85,38.74,217.93
2,3,Pennie,Wayne,99.48,258.87,-93.32,NaN,68.71
3,4,Shurlock,Pitt,4.28,287.94,7.38,183.32,317.24
4,5,Koo,Gibben,7.22,183.33,68.17,129.60,154.35
5,6,Rebecca,Gamlyn,5.22,179.31,70.17,NaN,138.69
6,7,Darda,Putley,89.62,208.78,NaN,126.51,339.49
7,8,Alisha,Shotboult,76.16,NaN,79.09,NaN,278.72
8,9,Clywd,Assur,62.68,138.52,NaN,92.60,238.49
9,10,Gibby,Falck,17.57,253.70,74.71,149.54,159.14
10,11,Winonah,Heathwood,74.68,78.23,28.47,NaN,67.36
11,12,Harley,Kerner,59.69,88.83,51.85,NaN,128.94
12,13,Georgie,Hamley,29.03,224.13,NaN,130.39,352.88
13,14,Teodoro,Skydall,28.27,213.32,86.97,NaN,201.85
14,15,Raul,Benech,81.04,NaN,92.05,NaN,387.37
15,16,Jade,Bunning,15.36,NaN,-96.04,NaN,305.30
16,17,Maddy,Graver,50.70,117.98,4.37,147.98,67.26
17,18,Minta,Greeno,26.84,15.84,49.40,NaN,108.83
18,19,Laney,Loding,3.62,56.87,-99.27,36.07,145.40
19,20,Aymer,Twelvetree,94.78,299.69,67.00,NaN,148.65
20,21,Anna-diana,Lobb,10.05,118.78,45.42,193.26,210.02
21,22,Marcelia,Fozzard,18.23,276.23,82.35,NaN,266.33
22,23,Brendon,Beebee,64.87,205.55,NaN,183.96,121.16
23,24,Neville,Pusey,73.69,131.75,99.68,NaN,16.63
24,25,Elle,Fassan,45.31,120.11,1.52,NaN,205.95
25,26,Tucky,Beverley,31.61,252.03,2.74,34.97,180.14
26,27,Lorena,Kleinfeld,3.41,NaN,76.47,133.70,82.53
27,28,Hetty,Dewhirst,9.38,21.97,-37.32,NaN,222.94
28,29,Melinda,Titterell,78.31,NaN,33.94,NaN,156.09
29,30,Page,Conduit,14.59,NaN,NaN,NaN,126.95
30,31,Robbie,Douthwaite,25.59,79.63,40.25,108.50,318.92
31,32,Betti,Liddle,7.32,NaN,-48.36,186.23,170.94
32,33,Kimbell,Lewis,33.82,NaN,26.72,NaN,346.68
33,34,Howard,Kornyshev,NaN,146.99,-21.59,59.87,291.66
34,35,Willard,Huckin,25.70,NaN,97.45,44.60,100.68
35,36,Edgard,Lilford,36.59,116.95,NaN,NaN,318.05
36,37,Even,Leipoldt,74.37,NaN,40.48,156.05,261.86
37,38,Jany,Ogers,85.88,231.49,5.53,NaN,353.00
38,39,Junie,Luckie,43.10,NaN,34.81,114.33,230.77
39,40,Geoffrey,Starking,79.79,NaN,6.90,180.47,51.03
40,41,Ervin,Snary,64.14,179.45,34.26,21.66,55.33
41,42,Edgardo,Blyth,67.86,48.58,-8.56,91.16,209.96
42,43,Tilda,Lotherington,50.96,129.03,62.27,172.59,190.75
43,44,Borden,Sambrook,7.62,NaN,-63.08,115.12,231.29
44,45,Vidovic,Juppe,85.04,NaN,84.56,199.50,344.78
45,46,Langsdon,Allcorn,44.62,296.20,74.41,NaN,333.16
46,47,Hansiain,Urquhart,91.25,166.76,-53.23,NaN,327.13
47,48,Carmita,Spadelli,2.96,77.91,19.28,NaN,155.64
48,49,Carmella,Cleverly,22.17,51.84,45.09,NaN,85.19
49,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87
50,12,Harley,Kerner,59.69,88.83,51.85,NaN,128.94
51,26,Tucky,Beverley,31.61,252.03,2.74,34.97,180.14
52,33,Kimbell,Lewis,33.82,NaN,26.72,NaN,346.68
53,44,Borden,Sambrook,7.62,NaN,-63.08,115.12,231.29
54,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87
55,50,Sherill,Witson,85.03,158.54,NaN,NaN,376.87
56,19,Laney,Loding,3.62,56.87,-99.27,36.07,145.40
57,15,Raul,Benech,81.04,NaN,92.05,NaN,387.37

In [152]:
mathmean=studdata['math_marks'].mean()

In [153]:
mathmean

45.9121052631579

In [154]:
studdata['math_marks'].fillna(value=mathmean, inplace=True)

In [155]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,237.19,23.43,NaN,26.02
1,2,Devy,Rickwood,25.760000,263.38,-619.85,38.74,217.93
2,3,Pennie,Wayne,99.480000,258.87,-93.32,NaN,68.71
3,4,Shurlock,Pitt,4.280000,287.94,7.38,183.32,317.24
4,5,Koo,Gibben,7.220000,183.33,68.17,129.60,154.35
5,6,Rebecca,Gamlyn,5.220000,179.31,70.17,NaN,138.69
6,7,Darda,Putley,89.620000,208.78,NaN,126.51,339.49
7,8,Alisha,Shotboult,76.160000,NaN,79.09,NaN,278.72
8,9,Clywd,Assur,62.680000,138.52,NaN,92.60,238.49
9,10,Gibby,Falck,17.570000,253.70,74.71,149.54,159.14
10,11,Winonah,Heathwood,74.680000,78.23,28.47,NaN,67.36
11,12,Harley,Kerner,59.690000,88.83,51.85,NaN,128.94
12,13,Georgie,Hamley,29.030000,224.13,NaN,130.39,352.88
13,14,Teodoro,Skydall,28.270000,213.32,86.97,NaN,201.85
14,15,Raul,Benech,81.040000,NaN,92.05,NaN,387.37
15,16,Jade,Bunning,15.360000,NaN,-96.04,NaN,305.30
16,17,Maddy,Graver,50.700000,117.98,4.37,147.98,67.26
17,18,Minta,Greeno,26.840000,15.84,49.40,NaN,108.83
18,19,Laney,Loding,3.620000,56.87,-99.27,36.07,145.40
19,20,Aymer,Twelvetree,94.780000,299.69,67.00,NaN,148.65
20,21,Anna-diana,Lobb,10.050000,118.78,45.42,193.26,210.02
21,22,Marcelia,Fozzard,18.230000,276.23,82.35,NaN,266.33
22,23,Brendon,Beebee,64.870000,205.55,NaN,183.96,121.16
23,24,Neville,Pusey,73.690000,131.75,99.68,NaN,16.63
24,25,Elle,Fassan,45.310000,120.11,1.52,NaN,205.95
25,26,Tucky,Beverley,31.610000,252.03,2.74,34.97,180.14
26,27,Lorena,Kleinfeld,3.410000,NaN,76.47,133.70,82.53
27,28,Hetty,Dewhirst,9.380000,21.97,-37.32,NaN,222.94
28,29,Melinda,Titterell,78.310000,NaN,33.94,NaN,156.09
29,30,Page,Conduit,14.590000,NaN,NaN,NaN,126.95
30,31,Robbie,Douthwaite,25.590000,79.63,40.25,108.50,318.92
31,32,Betti,Liddle,7.320000,NaN,-48.36,186.23,170.94
32,33,Kimbell,Lewis,33.820000,NaN,26.72,NaN,346.68
33,34,Howard,Kornyshev,45.912105,146.99,-21.59,59.87,291.66
34,35,Willard,Huckin,25.700000,NaN,97.45,44.60,100.68
35,36,Edgard,Lilford,36.590000,116.95,NaN,NaN,318.05
36,37,Even,Leipoldt,74.370000,NaN,40.48,156.05,261.86
37,38,Jany,Ogers,85.880000,231.49,5.53,NaN,353.00
38,39,Junie,Luckie,43.100000,NaN,34.81,114.33,230.77
39,40,Geoffrey,Starking,79.790000,NaN,6.90,180.47,51.03
40,41,Ervin,Snary,64.140000,179.45,34.26,21.66,55.33
41,42,Edgardo,Blyth,67.860000,48.58,-8.56,91.16,209.96
42,43,Tilda,Lotherington,50.960000,129.03,62.27,172.59,190.75
43,44,Borden,Sambrook,7.620000,NaN,-63.08,115.12,231.29
44,45,Vidovic,Juppe,85.040000,NaN,84.56,199.50,344.78
45,46,Langsdon,Allcorn,44.620000,296.20,74.41,NaN,333.16
46,47,Hansiain,Urquhart,91.250000,166.76,-53.23,NaN,327.13
47,48,Carmita,Spadelli,2.960000,77.91,19.28,NaN,155.64
48,49,Carmella,Cleverly,22.170000,51.84,45.09,NaN,85.19
49,50,Sherill,Witson,85.030000,158.54,NaN,NaN,376.87
50,12,Harley,Kerner,59.690000,88.83,51.85,NaN,128.94
51,26,Tucky,Beverley,31.610000,252.03,2.74,34.97,180.14
52,33,Kimbell,Lewis,33.820000,NaN,26.72,NaN,346.68
53,44,Borden,Sambrook,7.620000,NaN,-63.08,115.12,231.29
54,50,Sherill,Witson,85.030000,158.54,NaN,NaN,376.87
55,50,Sherill,Witson,85.030000,158.54,NaN,NaN,376.87
56,19,Laney,Loding,3.620000,56.87,-99.27,36.07,145.40
57,15,Raul,Benech,81.040000,NaN,92.05,NaN,387.37

In [156]:
studdata['science_marks'].fillna(value=studdata['science_marks'].mean(), inplace=True)

In [157]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,237.190000,23.43,NaN,26.02
1,2,Devy,Rickwood,25.760000,263.380000,-619.85,38.74,217.93
2,3,Pennie,Wayne,99.480000,258.870000,-93.32,NaN,68.71
3,4,Shurlock,Pitt,4.280000,287.940000,7.38,183.32,317.24
4,5,Koo,Gibben,7.220000,183.330000,68.17,129.60,154.35
5,6,Rebecca,Gamlyn,5.220000,179.310000,70.17,NaN,138.69
6,7,Darda,Putley,89.620000,208.780000,NaN,126.51,339.49
7,8,Alisha,Shotboult,76.160000,161.719756,79.09,NaN,278.72
8,9,Clywd,Assur,62.680000,138.520000,NaN,92.60,238.49
9,10,Gibby,Falck,17.570000,253.700000,74.71,149.54,159.14
10,11,Winonah,Heathwood,74.680000,78.230000,28.47,NaN,67.36
11,12,Harley,Kerner,59.690000,88.830000,51.85,NaN,128.94
12,13,Georgie,Hamley,29.030000,224.130000,NaN,130.39,352.88
13,14,Teodoro,Skydall,28.270000,213.320000,86.97,NaN,201.85
14,15,Raul,Benech,81.040000,161.719756,92.05,NaN,387.37
15,16,Jade,Bunning,15.360000,161.719756,-96.04,NaN,305.30
16,17,Maddy,Graver,50.700000,117.980000,4.37,147.98,67.26
17,18,Minta,Greeno,26.840000,15.840000,49.40,NaN,108.83
18,19,Laney,Loding,3.620000,56.870000,-99.27,36.07,145.40
19,20,Aymer,Twelvetree,94.780000,299.690000,67.00,NaN,148.65
20,21,Anna-diana,Lobb,10.050000,118.780000,45.42,193.26,210.02
21,22,Marcelia,Fozzard,18.230000,276.230000,82.35,NaN,266.33
22,23,Brendon,Beebee,64.870000,205.550000,NaN,183.96,121.16
23,24,Neville,Pusey,73.690000,131.750000,99.68,NaN,16.63
24,25,Elle,Fassan,45.310000,120.110000,1.52,NaN,205.95
25,26,Tucky,Beverley,31.610000,252.030000,2.74,34.97,180.14
26,27,Lorena,Kleinfeld,3.410000,161.719756,76.47,133.70,82.53
27,28,Hetty,Dewhirst,9.380000,21.970000,-37.32,NaN,222.94
28,29,Melinda,Titterell,78.310000,161.719756,33.94,NaN,156.09
29,30,Page,Conduit,14.590000,161.719756,NaN,NaN,126.95
30,31,Robbie,Douthwaite,25.590000,79.630000,40.25,108.50,318.92
31,32,Betti,Liddle,7.320000,161.719756,-48.36,186.23,170.94
32,33,Kimbell,Lewis,33.820000,161.719756,26.72,NaN,346.68
33,34,Howard,Kornyshev,45.912105,146.990000,-21.59,59.87,291.66
34,35,Willard,Huckin,25.700000,161.719756,97.45,44.60,100.68
35,36,Edgard,Lilford,36.590000,116.950000,NaN,NaN,318.05
36,37,Even,Leipoldt,74.370000,161.719756,40.48,156.05,261.86
37,38,Jany,Ogers,85.880000,231.490000,5.53,NaN,353.00
38,39,Junie,Luckie,43.100000,161.719756,34.81,114.33,230.77
39,40,Geoffrey,Starking,79.790000,161.719756,6.90,180.47,51.03
40,41,Ervin,Snary,64.140000,179.450000,34.26,21.66,55.33
41,42,Edgardo,Blyth,67.860000,48.580000,-8.56,91.16,209.96
42,43,Tilda,Lotherington,50.960000,129.030000,62.27,172.59,190.75
43,44,Borden,Sambrook,7.620000,161.719756,-63.08,115.12,231.29
44,45,Vidovic,Juppe,85.040000,161.719756,84.56,199.50,344.78
45,46,Langsdon,Allcorn,44.620000,296.200000,74.41,NaN,333.16
46,47,Hansiain,Urquhart,91.250000,166.760000,-53.23,NaN,327.13
47,48,Carmita,Spadelli,2.960000,77.910000,19.28,NaN,155.64
48,49,Carmella,Cleverly,22.170000,51.840000,45.09,NaN,85.19
49,50,Sherill,Witson,85.030000,158.540000,NaN,NaN,376.87
50,12,Harley,Kerner,59.690000,88.830000,51.85,NaN,128.94
51,26,Tucky,Beverley,31.610000,252.030000,2.74,34.97,180.14
52,33,Kimbell,Lewis,33.820000,161.719756,26.72,NaN,346.68
53,44,Borden,Sambrook,7.620000,161.719756,-63.08,115.12,231.29
54,50,Sherill,Witson,85.030000,158.540000,NaN,NaN,376.87
55,50,Sherill,Witson,85.030000,158.540000,NaN,NaN,376.87
56,19,Laney,Loding,3.620000,56.870000,-99.27,36.07,145.40
57,15,Raul,Benech,81.040000,161.719756,92.05,NaN,387.37

In [158]:
studdata['english_marks'].fillna(value=studdata['english_marks'].mean(), inplace=True)

In [159]:
studdata['english_marks']

0      23.430000
1    -619.850000
2     -93.320000
3       7.380000
4      68.170000
5      70.170000
6       9.950612
7      79.090000
8       9.950612
9      74.710000
10     28.470000
11     51.850000
12      9.950612
13     86.970000
14     92.050000
15    -96.040000
16      4.370000
17     49.400000
18    -99.270000
19     67.000000
20     45.420000
21     82.350000
22      9.950612
23     99.680000
24      1.520000
25      2.740000
26     76.470000
27    -37.320000
28     33.940000
29      9.950612
30     40.250000
31    -48.360000
32     26.720000
33    -21.590000
34     97.450000
35      9.950612
36     40.480000
37      5.530000
38     34.810000
39      6.900000
40     34.260000
41     -8.560000
42     62.270000
43    -63.080000
44     84.560000
45     74.410000
46    -53.230000
47     19.280000
48     45.090000
49      9.950612
50     51.850000
51      2.740000
52     26.720000
53    -63.080000
54      9.950612
55      9.950612
56    -99.270000
57     92.050000
Name: english_marks, dtype: float64

In [160]:
studdata['statistics_marks'].fillna(value=studdata['statistics_marks'].mean(), inplace=True)

In [161]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,237.190000,23.430000,114.888571,26.02
1,2,Devy,Rickwood,25.760000,263.380000,-619.850000,38.740000,217.93
2,3,Pennie,Wayne,99.480000,258.870000,-93.320000,114.888571,68.71
3,4,Shurlock,Pitt,4.280000,287.940000,7.380000,183.320000,317.24
4,5,Koo,Gibben,7.220000,183.330000,68.170000,129.600000,154.35
5,6,Rebecca,Gamlyn,5.220000,179.310000,70.170000,114.888571,138.69
6,7,Darda,Putley,89.620000,208.780000,9.950612,126.510000,339.49
7,8,Alisha,Shotboult,76.160000,161.719756,79.090000,114.888571,278.72
8,9,Clywd,Assur,62.680000,138.520000,9.950612,92.600000,238.49
9,10,Gibby,Falck,17.570000,253.700000,74.710000,149.540000,159.14
10,11,Winonah,Heathwood,74.680000,78.230000,28.470000,114.888571,67.36
11,12,Harley,Kerner,59.690000,88.830000,51.850000,114.888571,128.94
12,13,Georgie,Hamley,29.030000,224.130000,9.950612,130.390000,352.88
13,14,Teodoro,Skydall,28.270000,213.320000,86.970000,114.888571,201.85
14,15,Raul,Benech,81.040000,161.719756,92.050000,114.888571,387.37
15,16,Jade,Bunning,15.360000,161.719756,-96.040000,114.888571,305.30
16,17,Maddy,Graver,50.700000,117.980000,4.370000,147.980000,67.26
17,18,Minta,Greeno,26.840000,15.840000,49.400000,114.888571,108.83
18,19,Laney,Loding,3.620000,56.870000,-99.270000,36.070000,145.40
19,20,Aymer,Twelvetree,94.780000,299.690000,67.000000,114.888571,148.65
20,21,Anna-diana,Lobb,10.050000,118.780000,45.420000,193.260000,210.02
21,22,Marcelia,Fozzard,18.230000,276.230000,82.350000,114.888571,266.33
22,23,Brendon,Beebee,64.870000,205.550000,9.950612,183.960000,121.16
23,24,Neville,Pusey,73.690000,131.750000,99.680000,114.888571,16.63
24,25,Elle,Fassan,45.310000,120.110000,1.520000,114.888571,205.95
25,26,Tucky,Beverley,31.610000,252.030000,2.740000,34.970000,180.14
26,27,Lorena,Kleinfeld,3.410000,161.719756,76.470000,133.700000,82.53
27,28,Hetty,Dewhirst,9.380000,21.970000,-37.320000,114.888571,222.94
28,29,Melinda,Titterell,78.310000,161.719756,33.940000,114.888571,156.09
29,30,Page,Conduit,14.590000,161.719756,9.950612,114.888571,126.95
30,31,Robbie,Douthwaite,25.590000,79.630000,40.250000,108.500000,318.92
31,32,Betti,Liddle,7.320000,161.719756,-48.360000,186.230000,170.94
32,33,Kimbell,Lewis,33.820000,161.719756,26.720000,114.888571,346.68
33,34,Howard,Kornyshev,45.912105,146.990000,-21.590000,59.870000,291.66
34,35,Willard,Huckin,25.700000,161.719756,97.450000,44.600000,100.68
35,36,Edgard,Lilford,36.590000,116.950000,9.950612,114.888571,318.05
36,37,Even,Leipoldt,74.370000,161.719756,40.480000,156.050000,261.86
37,38,Jany,Ogers,85.880000,231.490000,5.530000,114.888571,353.00
38,39,Junie,Luckie,43.100000,161.719756,34.810000,114.330000,230.77
39,40,Geoffrey,Starking,79.790000,161.719756,6.900000,180.470000,51.03
40,41,Ervin,Snary,64.140000,179.450000,34.260000,21.660000,55.33
41,42,Edgardo,Blyth,67.860000,48.580000,-8.560000,91.160000,209.96
42,43,Tilda,Lotherington,50.960000,129.030000,62.270000,172.590000,190.75
43,44,Borden,Sambrook,7.620000,161.719756,-63.080000,115.120000,231.29
44,45,Vidovic,Juppe,85.040000,161.719756,84.560000,199.500000,344.78
45,46,Langsdon,Allcorn,44.620000,296.200000,74.410000,114.888571,333.16
46,47,Hansiain,Urquhart,91.250000,166.760000,-53.230000,114.888571,327.13
47,48,Carmita,Spadelli,2.960000,77.910000,19.280000,114.888571,155.64
48,49,Carmella,Cleverly,22.170000,51.840000,45.090000,114.888571,85.19
49,50,Sherill,Witson,85.030000,158.540000,9.950612,114.888571,376.87
50,12,Harley,Kerner,59.690000,88.830000,51.850000,114.888571,128.94
51,26,Tucky,Beverley,31.610000,252.030000,2.740000,34.970000,180.14
52,33,Kimbell,Lewis,33.820000,161.719756,26.720000,114.888571,346.68
53,44,Borden,Sambrook,7.620000,161.719756,-63.080000,115.120000,231.29
54,50,Sherill,Witson,85.030000,158.540000,9.950612,114.888571,376.87
55,50,Sherill,Witson,85.030000,158.540000,9.950612,114.888571,376.87
56,19,Laney,Loding,3.620000,56.870000,-99.270000,36.070000,145.40
57,15,Raul,Benech,81.040000,161.719756,92.050000,114.888571,387.37

In [162]:
for i in studdata.index:
    if studdata.loc[i,'english_marks']<0.0:
                    studdata.loc[i,'english_marks']=0

In [163]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,237.190000,23.430000,114.888571,26.02
1,2,Devy,Rickwood,25.760000,263.380000,0.000000,38.740000,217.93
2,3,Pennie,Wayne,99.480000,258.870000,0.000000,114.888571,68.71
3,4,Shurlock,Pitt,4.280000,287.940000,7.380000,183.320000,317.24
4,5,Koo,Gibben,7.220000,183.330000,68.170000,129.600000,154.35
5,6,Rebecca,Gamlyn,5.220000,179.310000,70.170000,114.888571,138.69
6,7,Darda,Putley,89.620000,208.780000,9.950612,126.510000,339.49
7,8,Alisha,Shotboult,76.160000,161.719756,79.090000,114.888571,278.72
8,9,Clywd,Assur,62.680000,138.520000,9.950612,92.600000,238.49
9,10,Gibby,Falck,17.570000,253.700000,74.710000,149.540000,159.14
10,11,Winonah,Heathwood,74.680000,78.230000,28.470000,114.888571,67.36
11,12,Harley,Kerner,59.690000,88.830000,51.850000,114.888571,128.94
12,13,Georgie,Hamley,29.030000,224.130000,9.950612,130.390000,352.88
13,14,Teodoro,Skydall,28.270000,213.320000,86.970000,114.888571,201.85
14,15,Raul,Benech,81.040000,161.719756,92.050000,114.888571,387.37
15,16,Jade,Bunning,15.360000,161.719756,0.000000,114.888571,305.30
16,17,Maddy,Graver,50.700000,117.980000,4.370000,147.980000,67.26
17,18,Minta,Greeno,26.840000,15.840000,49.400000,114.888571,108.83
18,19,Laney,Loding,3.620000,56.870000,0.000000,36.070000,145.40
19,20,Aymer,Twelvetree,94.780000,299.690000,67.000000,114.888571,148.65
20,21,Anna-diana,Lobb,10.050000,118.780000,45.420000,193.260000,210.02
21,22,Marcelia,Fozzard,18.230000,276.230000,82.350000,114.888571,266.33
22,23,Brendon,Beebee,64.870000,205.550000,9.950612,183.960000,121.16
23,24,Neville,Pusey,73.690000,131.750000,99.680000,114.888571,16.63
24,25,Elle,Fassan,45.310000,120.110000,1.520000,114.888571,205.95
25,26,Tucky,Beverley,31.610000,252.030000,2.740000,34.970000,180.14
26,27,Lorena,Kleinfeld,3.410000,161.719756,76.470000,133.700000,82.53
27,28,Hetty,Dewhirst,9.380000,21.970000,0.000000,114.888571,222.94
28,29,Melinda,Titterell,78.310000,161.719756,33.940000,114.888571,156.09
29,30,Page,Conduit,14.590000,161.719756,9.950612,114.888571,126.95
30,31,Robbie,Douthwaite,25.590000,79.630000,40.250000,108.500000,318.92
31,32,Betti,Liddle,7.320000,161.719756,0.000000,186.230000,170.94
32,33,Kimbell,Lewis,33.820000,161.719756,26.720000,114.888571,346.68
33,34,Howard,Kornyshev,45.912105,146.990000,0.000000,59.870000,291.66
34,35,Willard,Huckin,25.700000,161.719756,97.450000,44.600000,100.68
35,36,Edgard,Lilford,36.590000,116.950000,9.950612,114.888571,318.05
36,37,Even,Leipoldt,74.370000,161.719756,40.480000,156.050000,261.86
37,38,Jany,Ogers,85.880000,231.490000,5.530000,114.888571,353.00
38,39,Junie,Luckie,43.100000,161.719756,34.810000,114.330000,230.77
39,40,Geoffrey,Starking,79.790000,161.719756,6.900000,180.470000,51.03
40,41,Ervin,Snary,64.140000,179.450000,34.260000,21.660000,55.33
41,42,Edgardo,Blyth,67.860000,48.580000,0.000000,91.160000,209.96
42,43,Tilda,Lotherington,50.960000,129.030000,62.270000,172.590000,190.75
43,44,Borden,Sambrook,7.620000,161.719756,0.000000,115.120000,231.29
44,45,Vidovic,Juppe,85.040000,161.719756,84.560000,199.500000,344.78
45,46,Langsdon,Allcorn,44.620000,296.200000,74.410000,114.888571,333.16
46,47,Hansiain,Urquhart,91.250000,166.760000,0.000000,114.888571,327.13
47,48,Carmita,Spadelli,2.960000,77.910000,19.280000,114.888571,155.64
48,49,Carmella,Cleverly,22.170000,51.840000,45.090000,114.888571,85.19
49,50,Sherill,Witson,85.030000,158.540000,9.950612,114.888571,376.87
50,12,Harley,Kerner,59.690000,88.830000,51.850000,114.888571,128.94
51,26,Tucky,Beverley,31.610000,252.030000,2.740000,34.970000,180.14
52,33,Kimbell,Lewis,33.820000,161.719756,26.720000,114.888571,346.68
53,44,Borden,Sambrook,7.620000,161.719756,0.000000,115.120000,231.29
54,50,Sherill,Witson,85.030000,158.540000,9.950612,114.888571,376.87
55,50,Sherill,Witson,85.030000,158.540000,9.950612,114.888571,376.87
56,19,Laney,Loding,3.620000,56.870000,0.000000,36.070000,145.40
57,15,Raul,Benech,81.040000,161.719756,92.050000,114.888571,387.37

In [164]:
for i in studdata.index:
    if studdata.loc[i,'statistics_marks']>100:
                    studdata.loc[i,'statistics_marks']=100

In [165]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,237.190000,23.430000,100.00,26.02
1,2,Devy,Rickwood,25.760000,263.380000,0.000000,38.74,217.93
2,3,Pennie,Wayne,99.480000,258.870000,0.000000,100.00,68.71
3,4,Shurlock,Pitt,4.280000,287.940000,7.380000,100.00,317.24
4,5,Koo,Gibben,7.220000,183.330000,68.170000,100.00,154.35
5,6,Rebecca,Gamlyn,5.220000,179.310000,70.170000,100.00,138.69
6,7,Darda,Putley,89.620000,208.780000,9.950612,100.00,339.49
7,8,Alisha,Shotboult,76.160000,161.719756,79.090000,100.00,278.72
8,9,Clywd,Assur,62.680000,138.520000,9.950612,92.60,238.49
9,10,Gibby,Falck,17.570000,253.700000,74.710000,100.00,159.14
10,11,Winonah,Heathwood,74.680000,78.230000,28.470000,100.00,67.36
11,12,Harley,Kerner,59.690000,88.830000,51.850000,100.00,128.94
12,13,Georgie,Hamley,29.030000,224.130000,9.950612,100.00,352.88
13,14,Teodoro,Skydall,28.270000,213.320000,86.970000,100.00,201.85
14,15,Raul,Benech,81.040000,161.719756,92.050000,100.00,387.37
15,16,Jade,Bunning,15.360000,161.719756,0.000000,100.00,305.30
16,17,Maddy,Graver,50.700000,117.980000,4.370000,100.00,67.26
17,18,Minta,Greeno,26.840000,15.840000,49.400000,100.00,108.83
18,19,Laney,Loding,3.620000,56.870000,0.000000,36.07,145.40
19,20,Aymer,Twelvetree,94.780000,299.690000,67.000000,100.00,148.65
20,21,Anna-diana,Lobb,10.050000,118.780000,45.420000,100.00,210.02
21,22,Marcelia,Fozzard,18.230000,276.230000,82.350000,100.00,266.33
22,23,Brendon,Beebee,64.870000,205.550000,9.950612,100.00,121.16
23,24,Neville,Pusey,73.690000,131.750000,99.680000,100.00,16.63
24,25,Elle,Fassan,45.310000,120.110000,1.520000,100.00,205.95
25,26,Tucky,Beverley,31.610000,252.030000,2.740000,34.97,180.14
26,27,Lorena,Kleinfeld,3.410000,161.719756,76.470000,100.00,82.53
27,28,Hetty,Dewhirst,9.380000,21.970000,0.000000,100.00,222.94
28,29,Melinda,Titterell,78.310000,161.719756,33.940000,100.00,156.09
29,30,Page,Conduit,14.590000,161.719756,9.950612,100.00,126.95
30,31,Robbie,Douthwaite,25.590000,79.630000,40.250000,100.00,318.92
31,32,Betti,Liddle,7.320000,161.719756,0.000000,100.00,170.94
32,33,Kimbell,Lewis,33.820000,161.719756,26.720000,100.00,346.68
33,34,Howard,Kornyshev,45.912105,146.990000,0.000000,59.87,291.66
34,35,Willard,Huckin,25.700000,161.719756,97.450000,44.60,100.68
35,36,Edgard,Lilford,36.590000,116.950000,9.950612,100.00,318.05
36,37,Even,Leipoldt,74.370000,161.719756,40.480000,100.00,261.86
37,38,Jany,Ogers,85.880000,231.490000,5.530000,100.00,353.00
38,39,Junie,Luckie,43.100000,161.719756,34.810000,100.00,230.77
39,40,Geoffrey,Starking,79.790000,161.719756,6.900000,100.00,51.03
40,41,Ervin,Snary,64.140000,179.450000,34.260000,21.66,55.33
41,42,Edgardo,Blyth,67.860000,48.580000,0.000000,91.16,209.96
42,43,Tilda,Lotherington,50.960000,129.030000,62.270000,100.00,190.75
43,44,Borden,Sambrook,7.620000,161.719756,0.000000,100.00,231.29
44,45,Vidovic,Juppe,85.040000,161.719756,84.560000,100.00,344.78
45,46,Langsdon,Allcorn,44.620000,296.200000,74.410000,100.00,333.16
46,47,Hansiain,Urquhart,91.250000,166.760000,0.000000,100.00,327.13
47,48,Carmita,Spadelli,2.960000,77.910000,19.280000,100.00,155.64
48,49,Carmella,Cleverly,22.170000,51.840000,45.090000,100.00,85.19
49,50,Sherill,Witson,85.030000,158.540000,9.950612,100.00,376.87
50,12,Harley,Kerner,59.690000,88.830000,51.850000,100.00,128.94
51,26,Tucky,Beverley,31.610000,252.030000,2.740000,34.97,180.14
52,33,Kimbell,Lewis,33.820000,161.719756,26.720000,100.00,346.68
53,44,Borden,Sambrook,7.620000,161.719756,0.000000,100.00,231.29
54,50,Sherill,Witson,85.030000,158.540000,9.950612,100.00,376.87
55,50,Sherill,Witson,85.030000,158.540000,9.950612,100.00,376.87
56,19,Laney,Loding,3.620000,56.870000,0.000000,36.07,145.40
57,15,Raul,Benech,81.040000,161.719756,92.050000,100.00,387.37

In [166]:
for i in studdata.index:
    if studdata.loc[i,'science_marks']>100:
                    studdata.loc[i,'science_marks']=100

In [167]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,100.00,23.430000,100.00,26.02
1,2,Devy,Rickwood,25.760000,100.00,0.000000,38.74,217.93
2,3,Pennie,Wayne,99.480000,100.00,0.000000,100.00,68.71
3,4,Shurlock,Pitt,4.280000,100.00,7.380000,100.00,317.24
4,5,Koo,Gibben,7.220000,100.00,68.170000,100.00,154.35
5,6,Rebecca,Gamlyn,5.220000,100.00,70.170000,100.00,138.69
6,7,Darda,Putley,89.620000,100.00,9.950612,100.00,339.49
7,8,Alisha,Shotboult,76.160000,100.00,79.090000,100.00,278.72
8,9,Clywd,Assur,62.680000,100.00,9.950612,92.60,238.49
9,10,Gibby,Falck,17.570000,100.00,74.710000,100.00,159.14
10,11,Winonah,Heathwood,74.680000,78.23,28.470000,100.00,67.36
11,12,Harley,Kerner,59.690000,88.83,51.850000,100.00,128.94
12,13,Georgie,Hamley,29.030000,100.00,9.950612,100.00,352.88
13,14,Teodoro,Skydall,28.270000,100.00,86.970000,100.00,201.85
14,15,Raul,Benech,81.040000,100.00,92.050000,100.00,387.37
15,16,Jade,Bunning,15.360000,100.00,0.000000,100.00,305.30
16,17,Maddy,Graver,50.700000,100.00,4.370000,100.00,67.26
17,18,Minta,Greeno,26.840000,15.84,49.400000,100.00,108.83
18,19,Laney,Loding,3.620000,56.87,0.000000,36.07,145.40
19,20,Aymer,Twelvetree,94.780000,100.00,67.000000,100.00,148.65
20,21,Anna-diana,Lobb,10.050000,100.00,45.420000,100.00,210.02
21,22,Marcelia,Fozzard,18.230000,100.00,82.350000,100.00,266.33
22,23,Brendon,Beebee,64.870000,100.00,9.950612,100.00,121.16
23,24,Neville,Pusey,73.690000,100.00,99.680000,100.00,16.63
24,25,Elle,Fassan,45.310000,100.00,1.520000,100.00,205.95
25,26,Tucky,Beverley,31.610000,100.00,2.740000,34.97,180.14
26,27,Lorena,Kleinfeld,3.410000,100.00,76.470000,100.00,82.53
27,28,Hetty,Dewhirst,9.380000,21.97,0.000000,100.00,222.94
28,29,Melinda,Titterell,78.310000,100.00,33.940000,100.00,156.09
29,30,Page,Conduit,14.590000,100.00,9.950612,100.00,126.95
30,31,Robbie,Douthwaite,25.590000,79.63,40.250000,100.00,318.92
31,32,Betti,Liddle,7.320000,100.00,0.000000,100.00,170.94
32,33,Kimbell,Lewis,33.820000,100.00,26.720000,100.00,346.68
33,34,Howard,Kornyshev,45.912105,100.00,0.000000,59.87,291.66
34,35,Willard,Huckin,25.700000,100.00,97.450000,44.60,100.68
35,36,Edgard,Lilford,36.590000,100.00,9.950612,100.00,318.05
36,37,Even,Leipoldt,74.370000,100.00,40.480000,100.00,261.86
37,38,Jany,Ogers,85.880000,100.00,5.530000,100.00,353.00
38,39,Junie,Luckie,43.100000,100.00,34.810000,100.00,230.77
39,40,Geoffrey,Starking,79.790000,100.00,6.900000,100.00,51.03
40,41,Ervin,Snary,64.140000,100.00,34.260000,21.66,55.33
41,42,Edgardo,Blyth,67.860000,48.58,0.000000,91.16,209.96
42,43,Tilda,Lotherington,50.960000,100.00,62.270000,100.00,190.75
43,44,Borden,Sambrook,7.620000,100.00,0.000000,100.00,231.29
44,45,Vidovic,Juppe,85.040000,100.00,84.560000,100.00,344.78
45,46,Langsdon,Allcorn,44.620000,100.00,74.410000,100.00,333.16
46,47,Hansiain,Urquhart,91.250000,100.00,0.000000,100.00,327.13
47,48,Carmita,Spadelli,2.960000,77.91,19.280000,100.00,155.64
48,49,Carmella,Cleverly,22.170000,51.84,45.090000,100.00,85.19
49,50,Sherill,Witson,85.030000,100.00,9.950612,100.00,376.87
50,12,Harley,Kerner,59.690000,88.83,51.850000,100.00,128.94
51,26,Tucky,Beverley,31.610000,100.00,2.740000,34.97,180.14
52,33,Kimbell,Lewis,33.820000,100.00,26.720000,100.00,346.68
53,44,Borden,Sambrook,7.620000,100.00,0.000000,100.00,231.29
54,50,Sherill,Witson,85.030000,100.00,9.950612,100.00,376.87
55,50,Sherill,Witson,85.030000,100.00,9.950612,100.00,376.87
56,19,Laney,Loding,3.620000,56.87,0.000000,36.07,145.40
57,15,Raul,Benech,81.040000,100.00,92.050000,100.00,387.37

In [168]:
for i in studdata.index:
    if studdata.loc[i,'computerscience_marks']>100:
                    studdata.loc[i,'computerscience_marks']=100

In [169]:
studdata

,student_id,first_name,last_name,math_marks,science_marks,english_marks,statistics_marks,computerscience_marks
0,1,Devonne,Elstow,94.270000,100.00,23.430000,100.00,26.02
1,2,Devy,Rickwood,25.760000,100.00,0.000000,38.74,100.00
2,3,Pennie,Wayne,99.480000,100.00,0.000000,100.00,68.71
3,4,Shurlock,Pitt,4.280000,100.00,7.380000,100.00,100.00
4,5,Koo,Gibben,7.220000,100.00,68.170000,100.00,100.00
5,6,Rebecca,Gamlyn,5.220000,100.00,70.170000,100.00,100.00
6,7,Darda,Putley,89.620000,100.00,9.950612,100.00,100.00
7,8,Alisha,Shotboult,76.160000,100.00,79.090000,100.00,100.00
8,9,Clywd,Assur,62.680000,100.00,9.950612,92.60,100.00
9,10,Gibby,Falck,17.570000,100.00,74.710000,100.00,100.00
10,11,Winonah,Heathwood,74.680000,78.23,28.470000,100.00,67.36
11,12,Harley,Kerner,59.690000,88.83,51.850000,100.00,100.00
12,13,Georgie,Hamley,29.030000,100.00,9.950612,100.00,100.00
13,14,Teodoro,Skydall,28.270000,100.00,86.970000,100.00,100.00
14,15,Raul,Benech,81.040000,100.00,92.050000,100.00,100.00
15,16,Jade,Bunning,15.360000,100.00,0.000000,100.00,100.00
16,17,Maddy,Graver,50.700000,100.00,4.370000,100.00,67.26
17,18,Minta,Greeno,26.840000,15.84,49.400000,100.00,100.00
18,19,Laney,Loding,3.620000,56.87,0.000000,36.07,100.00
19,20,Aymer,Twelvetree,94.780000,100.00,67.000000,100.00,100.00
20,21,Anna-diana,Lobb,10.050000,100.00,45.420000,100.00,100.00
21,22,Marcelia,Fozzard,18.230000,100.00,82.350000,100.00,100.00
22,23,Brendon,Beebee,64.870000,100.00,9.950612,100.00,100.00
23,24,Neville,Pusey,73.690000,100.00,99.680000,100.00,16.63
24,25,Elle,Fassan,45.310000,100.00,1.520000,100.00,100.00
25,26,Tucky,Beverley,31.610000,100.00,2.740000,34.97,100.00
26,27,Lorena,Kleinfeld,3.410000,100.00,76.470000,100.00,82.53
27,28,Hetty,Dewhirst,9.380000,21.97,0.000000,100.00,100.00
28,29,Melinda,Titterell,78.310000,100.00,33.940000,100.00,100.00
29,30,Page,Conduit,14.590000,100.00,9.950612,100.00,100.00
30,31,Robbie,Douthwaite,25.590000,79.63,40.250000,100.00,100.00
31,32,Betti,Liddle,7.320000,100.00,0.000000,100.00,100.00
32,33,Kimbell,Lewis,33.820000,100.00,26.720000,100.00,100.00
33,34,Howard,Kornyshev,45.912105,100.00,0.000000,59.87,100.00
34,35,Willard,Huckin,25.700000,100.00,97.450000,44.60,100.00
35,36,Edgard,Lilford,36.590000,100.00,9.950612,100.00,100.00
36,37,Even,Leipoldt,74.370000,100.00,40.480000,100.00,100.00
37,38,Jany,Ogers,85.880000,100.00,5.530000,100.00,100.00
38,39,Junie,Luckie,43.100000,100.00,34.810000,100.00,100.00
39,40,Geoffrey,Starking,79.790000,100.00,6.900000,100.00,51.03
40,41,Ervin,Snary,64.140000,100.00,34.260000,21.66,55.33
41,42,Edgardo,Blyth,67.860000,48.58,0.000000,91.16,100.00
42,43,Tilda,Lotherington,50.960000,100.00,62.270000,100.00,100.00
43,44,Borden,Sambrook,7.620000,100.00,0.000000,100.00,100.00
44,45,Vidovic,Juppe,85.040000,100.00,84.560000,100.00,100.00
45,46,Langsdon,Allcorn,44.620000,100.00,74.410000,100.00,100.00
46,47,Hansiain,Urquhart,91.250000,100.00,0.000000,100.00,100.00
47,48,Carmita,Spadelli,2.960000,77.91,19.280000,100.00,100.00
48,49,Carmella,Cleverly,22.170000,51.84,45.090000,100.00,85.19
49,50,Sherill,Witson,85.030000,100.00,9.950612,100.00,100.00
50,12,Harley,Kerner,59.690000,88.83,51.850000,100.00,100.00
51,26,Tucky,Beverley,31.610000,100.00,2.740000,34.97,100.00
52,33,Kimbell,Lewis,33.820000,100.00,26.720000,100.00,100.00
53,44,Borden,Sambrook,7.620000,100.00,0.000000,100.00,100.00
54,50,Sherill,Witson,85.030000,100.00,9.950612,100.00,100.00
55,50,Sherill,Witson,85.030000,100.00,9.950612,100.00,100.00
56,19,Laney,Loding,3.620000,56.87,0.000000,36.07,100.00
57,15,Raul,Benech,81.040000,100.00,92.050000,100.00,100.00